@{
    ViewBag.Title = "Öğrenci Servis Takip";
    if (Session["User"]== null)
    {
        Response.Redirect("~/Account/GirisYap");
    }
}

<section class="content">
    <!-- Small boxes (Stat box) -->
    <div class="row">
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-aqua">
                <div class="inner">
                    <h3><b>400</b><span> (25000 ₺)</span></h3>
                    <p>Ödemesi Yaklaşan</p>
                </div>
                <div class="icon">
                    <i class="ion ion-clock"></i>
                </div>
                <a href="#" class="small-box-footer">
                    Rapora Git <i class="fa fa-arrow-circle-right"></i>
                </a>
            </div>
        </div><!-- ./col -->
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-green">
                <div class="inner">
                    <h3><b>40</b><sup style="font-size: 15px">%</sup> (1000 ₺)</h3>
                    <p>Kâr Oranı</p>
                </div>
                <div class="icon">
                    <i class="ion ion-arrow-graph-up-right"></i>
                </div>
                <a href="#" class="small-box-footer">
                    Rapora Git <i class="fa fa-arrow-circle-right"></i>
                </a>
            </div>
        </div><!-- ./col -->
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-yellow">
                <div class="inner">
                    <h3><b>50</b> (1000 ₺)</h3>
                    <p>Bugün Ödemesi Gereken</p>
                </div>
                <div class="icon">
                    <i class="ion ion-ios7-alarm-outline"></i>
                </div>
                <a href="#" class="small-box-footer">
                    Rapora Git <i class="fa fa-arrow-circle-right"></i>
                </a>
            </div>
        </div><!-- ./col -->
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-red">
                <div class="inner">
                    <h3><b>100</b> (2500 ₺)</h3>
                    <p>Ödemesi Geçmiş</p>
                </div>
                <div class="icon">
                    <i class="ion ion-alert-circled"></i>
                </div>
                <a href="#" class="small-box-footer">
                    Rapora Git <i class="fa fa-arrow-circle-right"></i>
                </a>
            </div>
        </div><!-- ./col -->
    </div><!-- /.row -->
</section><!-- /.content -->
